---
type Colors = "white" | "canary" | "pink" | "blue";

const colors: Record<Colors, string> = {
    // NCR carbonless paper colors (white, canary, pink, blue)
    white: "#f5f5f5",
    canary: "#fff9c4",
    pink: "#fcd5d5",
    blue: "#bbdefb",
};

interface Props {
    id: string;
    color: Colors;
    title?: string;
    rotation: number;
}

const { id, color, title, rotation } = Astro.props;

const c = colors[color];
---

<style define:vars={{ c }}>
    .paper {
        position: relative;
        padding: var(--marginSize);
        background: var(--c);
        width: calc(100% - var(--marginSize) * 2);
        max-width: 920px;
        margin-bottom: var(--marginSize);
    }

    .title {
        text-wrap: nowrap;
        text-align: center;
        margin: var(--marginSize);
    }

    footer {
        padding: var(--marginSize);
        display: flex;
        justify-content: flex-end;
        /* From 48px to 56px */
        font-size: clamp(3rem, 2.5rem + 2vw, 3.5rem);

        a {
            color: var(--fg);
            text-decoration: none;
        }
    }
</style>

<div class="paper" id={id} style={{ transform: `rotate(${rotation}deg)` }}>
    {title && <h1 class="title">{title}</h1>}
    <slot />
    <footer>
        <a href="#top" aria-label="Back to top">▲</a>
    </footer>
</div>